@CHARSET "UTF-8";

body{
    background-color: #EEFFEE;
}

body, body * {
    font-family: Arial;
    font-size: 16px;
}

.red{
    color: #EE0000;
}

.Ttl_head{
    white-space: nowrap;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
.qnt_tables{
	padding-bottom: 5px;
	font-size: 12px;
	font-weight: bold;
	color: #C1643C;
}
.org_code_info{
    color: #CC4444;
    font-style: italic;
}

.log_info_td{
	vertical-align: top;
	background-color: #D5C9FF;
	padding: 5px;
	width: 660px; 
}

.logHead{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #888822;
}

.logContent{
	overflow: scroll;
	width: 660px;
	
}

.logContent *{
	background-color: #FFEEEE;
}

.infoLog, .infoLog *{
    font-size: 11px;
    margin: 0;
}

.infoLog{
	padding-left: 10px;
	width: 600px;
	white-space: normal;
}

.infoLogTitle{
    text-align: left;
    padding: 5px 0 2px 10px; /*trbl*/
    margin: 0;
    font-size: 11px;
    font-weight: bold;
}

.sell_name, .sell_info, .sell_title{
	height: 15px;
	table-layout: fixed;
    padding: 0 20px 0 20px; /*trbl*/
    text-align: left;
    font-size: 12px;
    white-space: nowrap;
}

.sell_title{
	font-weight: bold;
	text-align: center;
	background-color: #FFEDB2;
}

.sell_name{
    font-weight: bold;

}

.sell_info{
	text-align: right;
}

.columnBorder{
	border-right: 1px solid;
}

.gen_info{
    padding: 0;
    font-size: 12px;
}

.host_info{
    font-size: 12px;
    font-weight: normal;
}
pre{
padding: 0;
}
