div.headerDiv,div.wlcmUserLine {
	width: 1120px;
}

div.mainContent {
	width: 1120px;
}

div.headerDiv {
	height: 130px;
	background: url("../img/grad_hat3.gif") repeat;
}

td.logoName,td.logoNameCnt{
	font-size: 53px;
	font-weight: bolder;
	color: #FF0066;
	text-align: center;
	padding-left: 10px;
	vertical-align: bottom;
}

td.logoNameCnt{
	font-size: 25px;
	color: #964646;
}

td.endSign {
	font-size: 25px;
}


td.headerInfoTd {
	vertical-align: top;
}

table.infoTable {
	height: 100%;
}

td.businessName,td.businessStatus,td.tabsTd {
	color: rgb(0, 124, 195);
	padding-left: 25px;
}

td.tabsTd {
	height: 42px; *
	height: 45px;
	vertical-align: bottom;
}

html[xmlns *=""] body:last-child td.tabsTd { /*Safari*/
	height: 43px;
}

td.businessName {
	font-size: 50px;
}

td.businessStatus {
	font-size: 23px;
}

td.placeName {
	color: rgb(68, 145, 108);
	font-size: 25px;
	padding-left: 40px;
}

div#wlcmUserLine {
	padding: 10px 10px 10px 0px; /*trbl*/
	color: #D3008D;
	font-size: 20px;
	text-align: right;
}

.uploadDiv{
/*	visibility: hidden;*/

}